.problem {
    text-align: center;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
}

#progressbar {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 70%;
}

.question {
    /* border-radius: 10px;
	border: 0; */
    padding: 1%;
}

.select {
    top: 30%;
    height: 20%;
}

.select button img {
    width: 100%;
}

.questiontextcontainer {
    background: hsla(78, 59%, 93%, 0.479);
    line-height: 2.5vw;
    font-size: 1.1vw;
    border-radius: 25px;
    top: 0;
    height: auto;
    margin: 6%;
}

#button {
    display: block;
    height: 20vw;
    width: 20vw;
    text-align: center;
    display: inline-block;
    margin: 0 10%;
	border-radius: 50%;
	box-shadow: inherit;
	cursor: pointer;
}

#button img {
    width: 100%;
}

.descriptionText {
    background: hsla(265, 4%, 13%, 0.7);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 25px;
    color: #ffffff;
}

#finalbutton {
    display:block;
    height: 30vh;
    width: 30vh;
    padding: 1vw;
    box-shadow: inherit;
    display: inline-block;
    border-radius: 50%;
    font-size: 50px;
    margin: 0 4%;
    cursor: pointer;
}